{% extends 'base.html' %}

{% block title %}DELETE ANNOUNCEMENT{% endblock %}

{% block content %}
<div class="lesson-container">
        <h2>DELETE ANNOUNCEMENT</h2>
        <h3>Are You Sure You Want To Delete This Announcement ?</h3>
        <form method="POST">
            {% csrf_token%}
            {{form.as_p}}
            <button type="submit">Yes Delete</button>
        </form>
        <a href="{% url 'TeacherDashBoard' %}" class="back-btn">Back To Teacher DashBoard</a>
    </div>
{% endblock %}
